/*By default in normal CSS the children can also use the same class as the parent*/
/*So modular Css makes sure that the style is present only in the component that it is imported in */
.container{
    width : 100vw;
    height : 100vh;
    display : flex;
}
.left{
    width: 50vw;
    display: flex;
    flex-direction: column;
    background: url("../assets/bg.png");
}
.right{
    width: 50%;
    height : 100%;
    padding : 50px;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
    padding : 0.5rem 15rem;
    border-radius: 2rem;
}
.footer span{
    color : #72DB73;
    cursor: pointer;
}